<!-- ====== Description Section ====== -->
    <section id="description">
      <div class="description">
        <div class="description-one section-padding">
          <div class="container">
            <div class="row">
              <div class="col-sm-5 col-md-6">
                <div class="app-image">
                  <%= image_tag('duel-phone-big1.png') %>
                </div>
              </div>
              <div class="col-sm-7 col-md-6">
                <div class="content">
                  <h1>Lorem ipsum dolor sit</h1>
                  <h4>Lorem ipsum dolor sit amet</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi aspernatur sit, officiis sunt voluptate dolorum odit quam. Recusandae tempore excepturi pariatur provident corrupti est quisquam ratione, consectetur nam omnis eius. 
                  <br>
                  <br>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus aut non tempore, explicabo aliquam harum odio et libero.
                  </p>
                  <div class="button" id="download-app2">
                    <a href="#download" class="btn btn-default btn-lg custom-btn get-btn"><i class="fa fa-cloud-download"></i>Get App</a>
                  </div>
                </div>
              </div>
            </div> <!-- .container> .row -->
          </div> <!-- .container -->
        </div> <!-- end .description-one -->

        <div class="description-two section-padding dark-bg">
          <div class="container">
            <div class="row">

              <div class="col-sm-7 col-md-6">
                <div class="content">
                  <h1>Lorem ipsum dolor sit amet consectetur.</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi aspernatur sit, officiis sunt voluptate dolorum odit quam. Recusandae tempore excepturi pariatur provident corrupti est quisquam ratione, consectetur nam omnis eius.</p>
                  <ul class="list-item">
                    <li><i class="fa fa-table"></i> Lorem ipsum dolor sit amet.</li>
                    <li><i class="fa fa-video-camera"></i> Lorem ipsum dolor sit amet dolorum odit quam.</li>
                    <li><i class="fa fa-volume-up"></i> Lorem ipsum dolorum odit quam</li>
                    <li><i class="fa fa-umbrella"></i> Lorem ipsum dolorum odit quam dolorum odit quam</li>
                    <li><i class="fa fa-thumbs-o-up"></i> Lorem ipsum dolorum odit quam</li>
                  </ul>
                </div> <!-- end .content -->
              </div> <!-- .container> .row> .col-md-6 -->

              <div class="col-sm-5 col-md-6">
                <div class="app-image">
                  <%= image_tag('duel-phone-big.png') %>
                </div> <!-- end .app-image -->
              </div> <!-- .container> .row> .col-md-6 -->

            </div> <!-- .container> .row -->
          </div> <!-- .container -->
        </div> <!-- end .description-two -->

      </div> <!-- end .description -->
    </section>
    <!-- ====== End Description Section ====== -->