<!-- ====== Download Section ====== -->
    <section id="download">
      <div class="bg-color">
        <div class="download section-padding">
          <div class="container">

            <div class="header">
              <h1>Download <strong>Blue App</strong> for your OS</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptatum hic, facere adipisci, placeat ipsa corporis suscipit officiis labore ipsam, laudantium earum ducimus.</p>
              <div class="underline"><i class="fa fa-cloud-download"></i></div>
            </div> <!-- end .container > .header -->

            <div class="row download-area">

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <a href="" class="btn btn-default custom-btn download-btn">
                  <i class="fa fa-mobile"></i>
                  <div class="app-download">
                    <span>Download on the</span><strong>App Store</strong>
                  </div>
                </a>
              </div> <!-- end .download-area> .col-lg-3 (1) -->

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <a href="" class="btn btn-default custom-btn download-btn">
                <%= image_tag('olaystore.png') %>
                <div class="app-download">
                  <span>GET IT ON</span><strong>Google Play</strong>
                </div></a>
              </div> <!-- end .download-area> .col-lg-3 (2) -->

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <a href="" class="btn btn-default custom-btn download-btn">
                <i class="fa fa-windows"></i>
                <div class="app-download">
                  <span>Available for</span>Windows Phone
                </div>
                </a>
              </div> <!-- end .download-area> .col-lg-3 (3) -->

              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <a href="" class="btn btn-default custom-btn download-btn">
                <%= image_tag('amazon.png') %>
                <div class="app-download">
                  <span>Available at</span><strong>Aamazon</strong>
                </div>
                </a>
              </div> <!-- end .download-area> .col-lg-3 (4) --> 

            </div> <!-- end .container > .row/.download-area -->

          </div> <!-- end .container -->
        </div> <!-- end .download -->
      </div> <!-- end .bg-color -->
    </section>
    <!-- ====== End Download Section ====== -->