 <!-- ====== Copyright Section ====== -->
    <section class="copyright dark-bg">
      <div class="container">
        <p>&copy; 2014 <%= link_to "Sales Force", root_path %>, All Rights Reserved</p>
      </div> <!-- end .container -->
    </section>
    <!-- ====== End Copyright Section ====== -->
