 <!-- ====== Team Section ====== -->
    <section id="team">
      <div class="team section-padding">
        <div class="container">

          <div class="header">
            <h1>Who develop the App</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui hic laboriosam odio doloribus suscipit error nostrum totam dignissimos esse numquam voluptatum, aspernatur est.</p>
            <div class="underline"><i class="fa fa-users"></i></div>
          </div> <!-- end .container> .header -->

          <div class="row">
            <div class="app-dev">

              <div class="col-sm-6 col-md-6 col-lg-3 info">
                <div class="member">
                  <%= image_tag('01.jpg') %>
                  <div class="details">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo veniam molestias saepe ipsa autem, odio.</p>
                    <div class="social icon">
                      <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    </div> <!-- end .icon -->
                  </div> <!-- end .details -->
                </div> <!-- end .member -->
                <div class="title">
                  <h4>Margery Key</h4>
                  <h5>Lead Developer</h5>
                </div> <!-- end .title -->
              </div> <!-- end .info (1) -->

              <div class="col-sm-6 col-md-6 col-lg-3 info">
                <div class="member">
                  <%= image_tag('02.jpg') %>
                  <div class="details">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo veniam molestias saepe ipsa autem, odio.</p>
                    <div class="social icon">
                      <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    </div> <!-- end .icon -->
                  </div> <!-- end .details -->
                </div> <!-- end .member -->
                <div class="title">
                  <h4>Shirley Bergeron</h4>
                  <h5>UI/UX Designer</h5>
                </div> <!-- end .title -->
              </div> <!-- end .info (2) -->

              <div class="col-sm-6 col-md-6 col-lg-3 info">
                <div class="member">
                  <%= image_tag('03.jpg') %>
                  <div class="details">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo veniam molestias saepe ipsa autem, odio.</p>
                    <div class="social icon">
                      <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    </div> <!-- end .icon -->
                  </div> <!-- end .details -->
                </div> <!-- end .member -->
                <div class="title">
                  <h4>Ryan Elder</h4>
                  <h5>Front End Developer</h5>
                </div> <!-- end .title -->
              </div> <!-- end .info (3) -->

              <div class="col-sm-6 col-md-6 col-lg-3 info">
                <div class="member">
                  <%= image_tag('04.jpg') %>
                  <div class="details">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo veniam molestias saepe ipsa autem, odio.</p>
                    <div class="social icon">
                      <ul>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                      </ul>
                    </div> <!-- end .icon -->
                  </div> <!-- end .details -->
                </div> <!-- end .member -->
                <div class="title">
                  <h4>Daisy Baker</h4>
                  <h5>Marketer</h5>
                </div> <!-- end .title -->
              </div> <!-- end .info (4) -->

            </div> <!-- end .app-dev -->
          </div> <!-- end .container> .row -->

        </div> <!-- end .container -->
      </div> <!-- end .team -->
    </section>
    <!-- ====== Team Section ====== -->