<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li>
        <%= value %>
      </li>
    </ul>
  </div>
<% end %>
<script>
		  $(".alert-alert" ).fadeOut(5000);
      $(".alert-success" ).fadeOut(5000);
      $(".alert-notice" ).fadeOut(5000);
      $(".alert-danger" ).fadeOut(5000);
      $(".alert-warning" ).fadeOut(5000);
</script>